body {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 62.5%;
}
.top {
	width: 100%;
	height: auto;
	background-color: #990000;
	box-shadow: 0px 0px 8px 8px rgba(0,0,0,.3);
}
#tekstarthur {
	margin: 0 auto;
	background-image: url(../images/tekstballon.png);
	background-repeat: no-repeat;
	width: 600px;
	position: fixed;
	left: 50%;
	margin: 15px 0 0 -300px;
	height: 145px;
}
#tekstballon {
	width: 180px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 1.5em;
	line-height: 16px;
}
#arthur {
	width: 151px;
	height: 280px;
	margin: 0 auto;
	background-image: url(../images/arthur.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#arthurside {
	width: 90px;
	position: fixed;
	left: 50%;
	margin: 0 0 0 200px;
	height: 80px;
	background-color: #009933;
	float: right;
}
#form {
	width: 350px;
	margin: 0 auto;
	margin-top: 20px;
}
.field {
	padding: 0;
	margin: 0;
	width: 348px;
	height: 30px;
	display: block;
	border: 1px solid #990000;
	clear: both;
	margin-bottom: 15px;
}
.steden {
	width: 340px;
	padding-left: 7px;
}
#nocity {
	display: block;
	width: 340px;
	margin: 0 auto;
	text-align: center;
	color: #990000;
	margin-top: 10px;
}
#stadtest {
	display: block;
	width: 100%;
	margin: 0 auto;
	float: right;
	color: white;
	text-align: right;
	margin-top: 15px;
	height: 15px;
}
#labelzoek, #labelleeftijd {
	display: block;
	clear: both;
	text-align: center;
	margin-bottom: 5px;
	font-size: 1.4em;
}
#verzendknop {
	width: 348px;
	display: block;
	height: 32px;
	background-color: #990000;
	color: white;
	margin-top: 15px;
	font-size: 1.3em;
	border: none;
}
#submitonpage {
	width: 50px;
	display: block;
	height: 30px;
	background-color: #2a9e4b;
	border: 1px solid #990000;
	color: white;
	border: 1px solid #990000;
	margin-top: 15px;
	font-size: 1.3em;
	clear: none;
	float: left;
	margin-top: 3px;
	margin-left: 15px;
}
.onpage {
	margin: 0;
	padding: 0;
	display: block;
	width: 120px;
	height: 30px;
	color: black;
	border: none;
	clear: none;
	float: left;
	margin-top: 3px;
}
.stad {
	width: 113px;
	padding-left: 7px;
}
.label {
	width: auto;
	margin-right: 5px;
	margin-left: 15px;
	color: white;
	line-height: 30px;
}
#header {
	width: 800px;
	margin: 0 auto;
	height: auto;
	display: block;
	height: 90px;
}
#logo {
	width: 220px;
	float: left;
	height: 70px;
	margin-top: 20px;
	margin-right: 20px;
	background-image: url(../images/logo.jpg);
}
#navtop {
	width: auto;;
	float: right;
	height: 70px;
	position: relative;
	margin-top: 20px;
}
#navtop ul {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 5px;	
	right: 0;
	color: white;
	font-size: 1.3em;
}
#navtop ul li {
	float: left;
	margin-left: 20px;
}
#container {
	width: 800px;
	margin: 0 auto;
	height: auto;
}
nav {
	float: left;
	font-size: 0.9em;
}
.navleft {
	width: 200px;
	float: left;
	height: auto;
	background-color: #2a9e4b;
	margin-top: 20px;
	margin-right: 20px;
	padding: 10px;
	font-size: 1.4em;
	clear: both;
}
.navleft ul {
	list-style-type: none;
}
.navleft ul h1 {
	margin-bottom: 5px;
	text-decoration: underline;
	color: #990000;
}
.navleft ul li {
	color:  #333333;
	height: 18px;
	line-height: 18px;
}
.navleft a:link, .navleft a:visited, .navleft a:hover, .navleft a:active {
	text-decoration: none;
	color:  #333333;
}
.navleft a:hover {
	text-decoration: none;
}
.markup a:link, .markup a:visited, .markup a:hover, .markup a:active {
	text-decoration: none;
	color: white;
}
.markup a:hover {
	text-decoration: underline;
}
#content {
	width: 530px;
	margin-top: 20px;
	padding: 10px;
	float: left;
}
#content img {
	width: 50%;
}
#content h3 {
	font-size: 2.6em;
	margin-bottom: 10px;
}
#content small {
	font-size: 0.6em;
}
#content ul {
	
}
#content ul li {
	height: 18px;
	font-size: 1.4em;
}
.formgrootblok {
	float: left;
	clear: both;
}
.formblok {
	width: 80px;
	float: left;
	margin-right: 15px;
}
.input {
	width: 14px;
	margin-left: 33px;
}
#footer{
  background-color: #990000;
}
.inli {
	padding-left: 15px;
}
.icon-angle-down, .icon-angle-up {
	font-size: 1.2em;
}