body {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 62.5%;
}
.top {
	width: 100%;
	height: auto;
	background-color: #990000;
	box-shadow: 0px 0px 8px 8px rgba(0,0,0,.3);
	float: left;
	margin-bottom: 20px;
}
#tekstarthur {
	margin: 0 auto;
	background-image: url(../images/tekstballon.png);
	background-repeat: no-repeat;
	width: 225px;
	position: fixed;
	margin: 10px 0 0 10px;
	height: 145px;
}
#tekstballon {
	width: 180px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 1.5em;
	line-height: 16px;
}
#arthur {
	width: 151px;
	height: 280px;
	margin: 0 auto;
	float: right;
	margin-right: 10px;
	background-image: url(../images/arthur.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#arthurside {
	display: none;
}
#form {
	width: 100%;
	margin: 0 auto;
}
.field {
	padding: 0;
	margin: 0;
	width: 80%;
	margin: 0 auto;
	height: 30px;
	display: block;
	border: 1px solid #990000;
	clear: both;
	margin-bottom: 15px;
}
.steden {
	width: 78%;
	padding-left: 7px;
}
#nocity {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #990000;
	margin-top: 10px;
}
#stadtest {
	display: block;
	width: 100%;
	margin: 0 auto;
	float: right;
	color: white;
	text-align: right;
	margin-top: 15px;
	height: 0px;
}
#labelzoek, #labelleeftijd {
	display: block;
	clear: both;
	text-align: center;
	margin-bottom: 5px;
	font-size: 1.4em;
}
#verzendknop {
	width: 80%;
	margin: 0 auto;
	display: block;
	height: 32px;
	background-color: #990000;
	color: white;
	margin-top: 15px;
	font-size: 1.3em;
	border: none;
}
#submitonpage {
	width: 50px;
	display: block;
	height: 30px;
	background-color: #2a9e4b;
	border: 1px solid #990000;
	color: white;
	border: 1px solid #990000;
	margin-top: 15px;
	font-size: 1.3em;
	clear: none;
	float: left;
	margin-top: 3px;
	margin-left: 15px;
}
.onpage {
	margin: 0;
	padding: 0;
	display: block;
	height: 30px;
	color: black;
	border: none;
	clear: none;
	float: left;
	margin-top: 3px;
	width: 50%;
}
.stad {
	padding-left: 7px;
	width: 48%;
}
.label {
	width: 20%;
	margin-right: 5px;
	margin-left: 15px;
	color: white;
	line-height: 30px;
	clear: both;
}
#header {
	width: 100%;
	margin: 0 auto;
	height: auto;
	display: block;
	height: 90px;
}
#logo {
	width: 220px;
	float: left;
	height: 70px;
	margin-top: 20px;
	margin-right: 20px;
	background-image: url(../images/logo.jpg);
	display: none;
}
#navtop {
	width: 100%;
	float: left;
	height: auto;
	position: relative;
	margin-top: 0px;
}
#navtop ul {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 5px;	
	right: 0;
	color: white;
	font-size: 1.3em;
}
#navtop ul li {
	float: left;
	margin-left: 20px;
}
#container {
	width: 100%;
	margin: 0 auto;
	height: auto;
}
nav {
	clear: both;
	float: left;
	font-size: 0.9em;
	margin-bottom: 20px;
	width: 100%;
}
.navleft {
	width: 42%;
	float: left;
	height: auto;
	background-color: #2a9e4b;
	margin-right: 2%;
	margin-left: 2%;
	padding: 2%;
	font-size: 1.4em;
}
.navleft ul {
	list-style-type: none;
}
.navleft ul h1 {
	margin-bottom: 5px;
	text-decoration: underline;
	color: #990000;
}
.navleft ul li {
	color:  #333333;
	height: auto;
	line-height: 18px;
}
.navleft a:link, .navleft a:visited, .navleft a:hover, .navleft a:active {
	text-decoration: none;
	color:  #333333;
}
.navleft a:hover {
	text-decoration: underline;
}
.markup a:link, .markup a:visited, .markup a:hover, .markup a:active {
	text-decoration: none;
	color: white;
}
.markup a:hover {
	text-decoration: underline;
}
#content {
	width: 100%;
	margin-top: 0px;
	padding: 10px;
	float: left;
}
.returnimg {
	width: 100%;
}
#content img {
	width: 100%;
}
#content h3 {
	font-size: 2.6em;
	margin-bottom: 10px;
}
#content small {
	font-size: 0.6em;
}
#content ul li {
}
.eventlist {
}
.eventlist ul li {
	height: auto;
	margin-bottom: 5px;
	display: block;
	font-size: 1.4em;
	line-height: 20px;
	background-color: #d1d1d1;
	width: 42%;
	padding: 2%;
	float: left;
	margin: 2% 4% 2% 0;
	overflow: auto;
}
.eventlist ul li a:link, .eventlist ul li a:visited, .eventlist ul li a:hover, .eventlist ul li a:active {
	color: black;
	text-decoration: none;
}
.eventlist ul li a:hover {
	color: #2a9e4b;
	text-decoration: underline;
}
.formgrootblok {
	float: left;
	clear: both;
}
.formblok {
	width: 90px;
	float: left;
	margin-left: 13px;
	margin-bottom: 15px;
}
.inhoudevent {
	width: 55%;
	margin-right: 3%;
	float: left;
	margin-bottom: 30px;	
}
.inhoudevent h2 {
	font-size: 1.6em;
	margin-top: 10px;
	font-weight: bold;
}
.inhoudevent p {
	font-size: 1.4em;
	line-height: 18px;
}
.fotoevent {
	width: 42%;
	float: left;
	margin-bottom: -130px;
}
.fotoevent2 {
	width: 42%;
	float: left;
	margin-bottom: -20px;
}
.samenvatting {
	width: 100%;
}
.samenvatting h2, #formgrootblokdiv h2 {
	margin-bottom: 15px;
	clear: both;
	font-size: 1.7em;
	color: #990000;
}
.samenvatting p {
	height: 90px;
	line-height: 90px;
	float: left;
	width: 70px;
	font-size: 1.2em;
}
.samenvattinggenre, .samenvattinglengte, .samenvattingemotie {
	width: 100%;
	float: left;
	clear: both;
}
.formuliernopicto {
	clear: both;
}
.formuliernopicto h2 {
	width: 57%;
	display: block;
	margin-bottom: 15px;
	clear: both;
	font-size: 1.5em;
	color: #990000;
}
#submitnopicto, #submitnewpicto  {
	width: 52%;
	display: block;
	height: 32px;
	background-color: #990000;
	color: white;
	margin-top: 15px;
	font-size: 1.3em;
	border: none;
}
#submitnewpicto {
	width: 100%;
	float: left;
	clear: both;
}
.formgrootblok {
	background-color: #d1d1d1;
	margin-bottom: 10px;
	width: 100%;
}
.formgrootblokdiv {
}
.formgrootblok p {
	font-size: 1.4em;
	margin-left: 13px;
	margin-bottom: 5px;
	margin-top: 13px;
	color: #990000;
}
.input {
	width: 14px;
	margin-left: 39px;
}
#content {
	margin-bottom: 30px;
}
#footer{
  background-color: #990000;
}
footer {
	width: 100%;
	margin: 0 auto;
	height: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
	line-height: 15px;
	color: white;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
	color: white;
	text-decoration: underline;
}
footer a:hover {
	text-decoration: none;
}
#left {
	float: left;
	margin-left: 2%;
}
#right {
	float: right;
	margin-right: 2%;
	text-align: right;
}
.inli {
	padding-left: 15px;
}
.icon-angle-down, .icon-angle-up {
	font-size: 1.2em;
}
.noeventsfound {
	font-size: 1.4em;
}